@import './components/SubscriptionManagement.scss';
@import './components/GetSupport';
@import './components/NavHeader';
@import './components/Summary';
@import './components/Search';
@import './components/Grid';
@import './components/ListItem';
@import './components/AddItems';
@import './components/MessageToUser';
@import './components/EditingListItem';
@import './components//AdminGridListItem';
@import './components/DoneCancel';
@import './components/EditingListItem';

.icon {
    height: $google-spacing * 3;
    width: $google-spacing * 3;
    text-align: center;
    background-color: bisque;
}

body {
    box-sizing: border-box;
}