@import '../variables';

.add-items__add-members {
  width: 140px;
  height: 48px;
  margin: 16px auto;
  border-radius: $base-radius;
  background-color: $color-purple;
  color: $color-white;

  &:hover {
    background-color: calc-color(tint, $color-purple, 90);
  }
}

.add-items__add-button {
  width: $google-spacing * 7;
  height: $google-spacing * 7;
  border-radius: $google-spacing * 4;
  background-color: $color-purple;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: calc-color(tint, $color-purple, 90);
  }

  &[disabled] {
    background-color: calc-color(tint, $color-white, 10);
  }
}

.add-items__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $google-spacing $google-spacing * 2;
  }
  
  .add-items__textarea {
    width: 100%;
    text-align: left;
    padding: $google-spacing $google-spacing * 2;
    resize: none;
    padding: $google-spacing 0;
    border-radius: $base-radius;
    border: solid 1px $color-purple;
    background-color: $color-white;    
  }
  
  .add-items__add-members {
    width: 140px;
    height: 48px;
    margin: 16px auto;
    border-radius: $base-radius;
    background-color: $color-purple;
    color: $color-white;
  
    &:hover {
      background-color: calc-color(tint, $color-purple, 90);
    }
  }
  
  .add-items__add-button {
    width: $google-spacing * 7;
    height: $google-spacing * 7;
    border-radius: $google-spacing * 4;
    background-color: $color-purple;
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &:hover {
      background-color: calc-color(tint, $color-purple, 90);
    }
  
    &[disabled] {
      background-color: calc-color(tint, $color-white, 10);
    }
  }
  