@import "../variables";
@import "../admin-panel-variables";

.done-cancel__container {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $admin-panel-width;
    height: $google-spacing * 7;
    bottom: $google-spacing * 5;    
}

.done-cancel__button {
    height: $google-spacing * 6;
    width: $base-spacing * 7;
    margin: $google-spacing * 2 $google-spacing;
    border-radius: $big-radius;
    font-family: $base-font-family;
    font-size: $base-font-size;   
    font-weight: 500;
}

.done-cancel__button-done {
    background-color: purple;
    color: white;
}

.done-cancel__button-cancel {
    background-color: white;
    color: purple;
    border: 2px solid purple;    
}