.editing-item__container {
    margin-bottom: $google-spacing;
    width: 100%;
    height: $google-spacing * 5;
    display: flex;
    flex-direction: row;
    border-radius: $base-radius;
    justify-items: flex-start;
    align-items: center;
    background-color: $color-white;
}

.editing-item__input {
    width: 100%;
    font-size: $base-font-size;
    height: $google-spacing * 3;
    border: none;
}