@import "../variables";

.contact-support__coontainer {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: $google-spacing * 12;
  height: $google-spacing * 12;
  background-color: inherit;
}

.contact-support__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $google-spacing * 7;
  height: $google-spacing * 7;
  background-color: $color-white;
  border-radius: $base-radius;
  box-shadow: 0 $google-spacing $google-spacing *2 0 rgba(48, 59, 77, 0.1);
}

.contact-support__icon {
  width: $google-spacing * 3;
  height: $google-spacing * 3;
  color: $color-purple;
  &:hover {
    color: calc-color(tint, $color-purple, 90);
  }
}