@import "../variables";

.subscription-item__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $google-spacing;
  border-radius: $base-radius;
  background-color: $color-white;

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(48, 59, 77, 0.2);
  }

  &:hover .subscription-item__button-panel{
    opacity: 1;
  }

  &:hover .subscription-item__button-panel > .subscription-item__button {
    pointer-events: unset;
  }
}

.subscription-item__user-details {
  display: flex;
  margin: auto 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: $base-font-size;
}

.subscription-item__user-avatar {
  width: 22px;
  height: 22px;
  display: inline-block;
  margin: $google-spacing $google-spacing 10px 16px;
}

.subscription-item__user-email {
  height: $base-line-height;
  margin: 9px 10px 11px;
  color: $color-base;
}

.subscription-item__user-name {
  height: $base-line-height;
  font-size: $base-font-size;
  margin: 9px 10px 11px;
  color: $color-base;
}

.subscription-item__button-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  width: $google-spacing * 8;
  margin: $google-spacing $google-spacing * 2;
}

.subscription-item__button {
  pointer-events: none;  
}