@import "../variables";
@import "../admin-panel-variables";

.message__container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $admin-panel-width;
    height: $google-spacing * 7;
    bottom: $google-spacing * 5;
    border-radius: $base-radius;
    background-color: $color-orange;
    background-color: orange;
}

.message__message {
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $color-white;
}