@import "../variables";

$back-header-height: $base-spacing * 3;

.nav-header__container {
  position: fixed;
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: $back-header-height;
  width: 100%;
  background-color: $color-white;
  box-shadow: 0 0 10px 0 rgba(48, 59, 77, 0.2);
}

.nav-header__user-icon {
  width: $google-spacing * 4;
  height: $google-spacing * 4;
  background-color: black;
  margin: 14px $google-spacing * 3;
}

.nav-header__close-dialog {
  margin: $google-spacing * 2 $google-spacing * 3;
  cursor: pointer;
}

.nav-header__header {
  margin: 21px 0 20px;
  font-size: $h5-size;
  font-weight: bold;
}

.nav-header__userpic {
  border-radius: 50%;
}

.nav-header__drop-down {
  min-width: $base-spacing * 15;
  height: $base-spacing *2;  

  &:last-child {
    z-index: $z-modaltop;
    background-color: aqua;
  }
}

.Select.is-open {
  z-index: 3000 !important;
}
