.search__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: $base-radius;
    background-color: $color-white;

    & > input {
        padding: 10px;
    }
}

.search__input {
    min-width: 45px;
    height: $base-spacing;
    color: $color-black;
    font-size: $base-font-size;
    border: none;

    &:focus {
        width: 100%;
    }
}

.search__icon {
  display: inline-block;
  background-color: blueviolet;
  margin: $google-spacing;
  width: $google-spacing * 3;
  height: $google-spacing * 3;  
}