@import "../variables";

$summary-height: $google-spacing * 10;

.summary__container {
  height: $summary-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: $google-spacing * 2;
  background-color: $color-white;
  border-radius: $base-radius;
}

.summary__section {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: $google-spacing * 2 $google-spacing * 3;
}

.summary__value {
  font-size: 50px;
  color: $color-base;
}

.summary__comment {
  font-size: 18px;
  color: $color-base;
  opacity: 0.5;
}

.summary__billing {
  font-size: $base-font-size;
}

.summary__manage {
  width: 220px;
  height: $google-spacing * 4;
  border-radius: $big-radius;
  color: $color-white;
  font-size: $base-font-size;
  background-color: $color-purple;
}