@import "../variables";

$default-width: 940px;

.modal--admin-panel {
  visibility: visible;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  right: 0;
  width: 100%;
  transform: none;
  top: 0;
  bottom: 0;
  z-index: $z-modal + 21;
  background-color: grey;
  font-family: $font-family-sans-serif;
}

.admin-panel__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-panel__container {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $default-width;
  z-index: 1;
  top: $google-spacing * 12;
}

.admin-panel__item {
  width: 100%;
}

.marker {
  height: $base-spacing;
  font-family: $font-family-sans-serif;
  font-size: 14px;
  line-height: 1.43;
  text-align: right;
}

.marker--done {
  color: $color-green;
}

.maker--exception {
  color: $color-red;
}

.maker__marker {
  width: 12px;
  height: 12px;
}
